1. In Local Development, Copy updater script

Generate Format Versioning :: Project Updater dan simpan ke update_garudaku_{{ service }}_li54.sh


2. In Local Development, make sure there is user git sync branch script
~/git_sync_branch

if not, copy from ShellCommand
cp ~/Projects/ShellCommand/Local/git_sync_branch ~/.


3. In Local Development, Add incremental script for service

cp add_increment_garudaku_store.sh add_increment_garudaku_{{ service }}.sh


4. In Local Development, create file git version in project

cd {{ project_path }}

echo "0.0.1" > {{ file_version }}


5. In Local Development, Create branch staging_li54 as initial branch

git branch staging_li54
git checkout staging_li54


6. In Local Development, add file version

cd {{ project_path }}

echo "20221130.001" > version


7. In Local Development, Duplicate command updater 

# COMMAND updater

cp {{ home_path }}/update_garudaku_{{ service }}_li54.sh {{ home_path }}/update_garudaku_{{ service }}_an93l.sh &&

cp {{ home_path }}/update_garudaku_{{ service }}_li54.sh {{ home_path }}/update_garudaku_{{ service }}_ek4.sh &&

cp {{ home_path }}/update_garudaku_{{ service }}_li54.sh {{ home_path }}/update_garudaku_{{ service }}_c1ndy.sh &&

cp {{ home_path }}/update_garudaku_{{ service }}_li54.sh {{ home_path }}/update_garudaku_{{ service }}_m4nd4.sh &&

cp {{ home_path }}/update_garudaku_{{ service }}_li54.sh {{ home_path }}/update_garudaku_{{ service }}_alpha.sh &&

cp {{ home_path }}/update_garudaku_{{ service }}_li54.sh {{ home_path }}/update_garudaku_{{ service }}_beta.sh



7.1 running command to update staging name 

sed -i '' 's|li54|an93l|' {{ home_path }}/update_garudaku_{{ service }}_an93l.sh &&

sed -i '' 's|li54|ek4|' {{ home_path }}/update_garudaku_{{ service }}_ek4.sh &&

sed -i '' 's|li54|c1ndy|' {{ home_path }}/update_garudaku_{{ service }}_c1ndy.sh &&

sed -i '' 's|li54|m4nd4|' {{ home_path }}/update_garudaku_{{ service }}_m4nd4.sh &&

sed -i '' 's|li54|alpha|' {{ home_path }}/update_garudaku_{{ service }}_alpha.sh &&

sed -i '' 's|li54|beta|' {{ home_path }}/update_garudaku_{{ service }}_beta.sh



8. In Mysql Console Development, Create Database Staging

# COPY Database

CREATE DATABASE {{ service }}_li54 CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;

CREATE DATABASE {{ service }}_an93l CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;

CREATE DATABASE {{ service }}_ek4 CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;

CREATE DATABASE {{ service }}_c1ndy CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;

CREATE DATABASE {{ service }}_m4nd4 CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;

CREATE DATABASE {{ service }}_alpha CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;

CREATE DATABASE {{ service }}_beta CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;



8.1 In Mysql console development, running source script, make sure you have {{ sql_file }} when you running this command

USE {{ service }}_li54;

source {{ service }}_{{ sql_file }};

USE {{ service }}_an93l;

source {{ service }}_{{ sql_file }};

USE {{ service }}_ek4;

source {{ service }}_{{ sql_file }};

USE {{ service }}_c1ndy;

source {{ service }}_{{ sql_file }};

USE {{ service }}_m4nd4;

source {{ service }}_{{ sql_file }};

USE {{ service }}_alpha;

source {{ service }}_{{ sql_file }};

USE {{ service }}_beta;

source {{ service }}_{{ sql_file }};


9. In Local Development, Create branch staging 

git push --set-upstream origin staging_li54

git branch staging && git checkout staging && git push --set-upstream origin staging

git checkout staging && git branch staging_li54 && git checkout staging_li54 && git push --set-upstream origin staging_li54

git checkout staging && git branch staging_an93l && git checkout staging_an93l && git push --set-upstream origin staging_an93l

git checkout staging && git branch staging_ek4 && git checkout staging_ek4 && git push --set-upstream origin staging_ek4

git checkout staging && git branch staging_c1ndy && git checkout staging_c1ndy && git push --set-upstream origin staging_c1ndy

git checkout staging && git branch staging_m4nd4 && git checkout staging_m4nd4 && git push --set-upstream origin staging_m4nd4

git checkout staging && git branch staging_alpha && git checkout staging_alpha && git push --set-upstream origin staging_alpha

git checkout staging && git branch staging_beta && git checkout staging_beta && git push --set-upstream origin staging_beta


10. In Development Server, Create development folder

mkdir {{ staging_path }}/li54_{{ service }}
cd  {{ staging_path }}/li54_{{ service }}
git checkut staging_ li54

10.1
cd {{ staging_path }}

Clear
rm -Rf  an93l_{{ service }}
rm -Rf  ek4_{{ service }}
rm -Rf  c1ndy_{{ service }}
rm -Rf  m4nd4_{{ service }}
rm -Rf  alpha_{{ service }}
rm -Rf  beta_{{ service }}

cp -Rf li54_{{ service }} an93l_{{ service }}
cp -Rf li54_{{ service }} ek4_{{ service }}
cp -Rf li54_{{ service }} c1ndy_{{ service }}
cp -Rf li54_{{ service }} m4nd4_{{ service }}
cp -Rf li54_{{ service }} alpha_{{ service }}
cp -Rf li54_{{ service }} beta_{{ service }}


10.1 Change all staging folders to align with related branch

cd {{ staging_path }}/li54_{{ service }} && git fetch && git checkout staging_li54

cd {{ staging_path }}/an93l_{{ service }} && git fetch && git checkout staging_an93l

cd {{ staging_path }}/c1ndy_{{ service }} && git fetch && git checkout staging_c1ndy

cd {{ staging_path }}/m4nd4_{{ service }} && git fetch && git checkout staging_m4nd4

cd {{ staging_path }}/alpha_{{ service }} && git fetch && git checkout staging_alpha

cd {{ staging_path }}/beta_{{ service }} && git fetch && git checkout staging_beta




11. In Development Server, Change .env

sed -i 's/li54/an93l/' {{ staging_path }}/an93l_{{ service }}/.env &&

sed -i 's/li54/ek4/' {{ staging_path }}/ek4_{{ service }}/.env &&

sed -i 's/li54/c1ndy/' {{ staging_path }}/c1ndy_{{ service }}/.env &&

sed -i 's/li54/m4nd4/' {{ staging_path }}/m4nd4_{{ service }}/.env &&

sed -i 's/li54/alpha/' {{ staging_path }}/alpha_{{ service }}/.env &&

sed -i 's/li54/beta/' {{ staging_path }}/beta_{{ service }}/.env

- LUMEN 

sed -i 's/li54/an93l/' /var/www/docker/an93l_{{ service }}/lumen/.env &&

sed -i 's/li54/ek4/' /var/www/docker/ek4_{{ service }}/lumen/.env &&

sed -i 's/li54/c1ndy/' /var/www/docker/c1ndy_{{ service }}/lumen/.env &&

sed -i 's/li54/m4nd4/' /var/www/docker/m4nd4_{{ service }}/lumen/.env &&

sed -i 's/li54/alpha/' /var/www/docker/alpha_{{ service }}/lumen/.env &&

sed -i 's/li54/beta/' /var/www/docker/beta_{{ service }}/lumen/.env

- NUXTJS 

sed -i 's/li54/an93l/' /var/www/docker/an93l_{{ service }}/nuxtjs/.env &&

sed -i 's/li54/ek4/' /var/www/docker/ek4_{{ service }}/nuxtjs/.env &&

sed -i 's/li54/c1ndy/' /var/www/docker/c1ndy_{{ service }}/nuxtjs/.env &&

sed -i 's/li54/m4nd4/' /var/www/docker/m4nd4_{{ service }}/nuxtjs/.env &&

sed -i 's/li54/alpha/' /var/www/docker/alpha_{{ service }}/nuxtjs/.env &&

sed -i 's/li54/beta/' /var/www/docker/beta_{{ service }}/nuxtjs/.env


12. In Development Server, in apache site configuration copy sites, make sure you setting {{ service }}.li54.conf first

cd {{ apache_site_conf }}
sudo cp store.li54.conf {{ service }}.li54.conf

-- RELOAD site conf
sudo a2dissite {{ service }}.li54.conf && sudo a2ensite {{ service }}.li54.conf && sudo systemctl reload apache2


sudo cp {{ service }}.li54.conf {{ service }}.an93l.conf
sudo cp {{ service }}.li54.conf {{ service }}.ek4.conf
sudo cp {{ service }}.li54.conf {{ service }}.c1ndy.conf
sudo cp {{ service }}.li54.conf {{ service }}.m4nd4.conf
sudo cp {{ service }}.li54.conf {{ service }}.alpha.conf
sudo cp {{ service }}.li54.conf {{ service }}.beta.conf

sudo sed -i 's/{{ start_port }}10{{ service_port }}/{{ start_port }}20{{ service_port }}/' /etc/apache2/sites-available/{{ service }}.an93l.conf &&
sudo sed -i 's/{{ start_port }}10{{ service_port }}/{{ start_port }}30{{ service_port }}/' /etc/apache2/sites-available/{{ service }}.ek4.conf &&
sudo sed -i 's/{{ start_port }}10{{ service_port }}/{{ start_port }}40{{ service_port }}/' /etc/apache2/sites-available/{{ service }}.c1ndy.conf &&
sudo sed -i 's/{{ start_port }}10{{ service_port }}/{{ start_port }}50{{ service_port }}/' /etc/apache2/sites-available/{{ service }}.m4nd4.conf &&
sudo sed -i 's/{{ start_port }}10{{ service_port }}/{{ start_port }}60{{ service_port }}/' /etc/apache2/sites-available/{{ service }}.alpha.conf &&
sudo sed -i 's/{{ start_port }}10{{ service_port }}/{{ start_port }}70{{ service_port }}/' /etc/apache2/sites-available/{{ service }}.beta.conf




12.1 In Development Server, running replace script 

sudo sed -i 's/li54/an93l/' {{ apache_site_conf }}/{{ service }}.an93l.conf &&

sudo sed -i 's/li54/ek4/' {{ apache_site_conf }}/{{ service }}.ek4.conf &&

sudo sed -i 's/li54/c1ndy/' {{ apache_site_conf }}/{{ service }}.c1ndy.conf &&

sudo sed -i 's/li54/m4nd4/' {{ apache_site_conf }}/{{ service }}.m4nd4.conf &&

sudo sed -i 's/li54/alpha/' {{ apache_site_conf }}/{{ service }}.alpha.conf &&

sudo sed -i 's/li54/beta/' {{ apache_site_conf }}/{{ service }}.beta.conf






12.2 In Development Server, enable all site 

sudo a2ensite {{ service }}.li54.conf

sudo a2ensite {{ service }}.an93l.conf

sudo a2ensite {{ service }}.ek4.conf

sudo a2ensite {{ service }}.c1ndy.conf

sudo a2ensite {{ service }}.m4nd4.conf

sudo a2ensite {{ service }}.alpha.conf

sudo a2ensite {{ service }}.beta.conf




sudo systemctl reload apache2




13. In Cloudflare Control Panel  Add DNS in Cloudflare




14. In Development Server, Change folder permission

sudo chmod -R 777 {{ staging_path }}/li54_{{ service }}/lumen/storage {{ staging_path }}/li54_{{ service }}/lumen/bootstrap/cache {{ staging_path }}/li54_{{ service }}/lumen/resources/lang

sudo chmod -R 777 {{ staging_path }}/an93l_{{ service }}/lumen/storage {{ staging_path }}/an93l_{{ service }}/lumen/bootstrap/cache {{ staging_path }}/an93l_{{ service }}/lumen/resources/lang

sudo chmod -R 777 {{ staging_path }}/ek4_{{ service }}/lumen/storage {{ staging_path }}/ek4_{{ service }}/lumen/bootstrap/cache {{ staging_path }}/ek4_{{ service }}/lumen/resources/lang

sudo chmod -R 777 {{ staging_path }}/c1ndy_{{ service }}/lumen/storage {{ staging_path }}/c1ndy_{{ service }}/lumen/bootstrap/cache {{ staging_path }}/c1ndy_{{ service }}/lumen/resources/lang

sudo chmod -R 777 {{ staging_path }}/m4nd4_{{ service }}/lumen/storage {{ staging_path }}/m4nd4_{{ service }}/lumen/bootstrap/cache {{ staging_path }}/m4nd4_{{ service }}/lumen/resources/lang

sudo chmod -R 777 {{ staging_path }}/alpha_{{ service }}/lumen/storage {{ staging_path }}/alpha_{{ service }}/lumen/bootstrap/cache {{ staging_path }}/alpha_{{ service }}/lumen/resources/lang

sudo chmod -R 777 {{ staging_path }}/beta_{{ service }}/lumen/storage {{ staging_path }}/beta_{{ service }}/lumen/bootstrap/cache {{ staging_path }}/beta_{{ service }}/lumen/resources/lang




15.In Development Server, Create alias

vim ~/.bash_alias

alias li54_{{ service }}='cd {{ staging_path }}/li54_{{ service }}'

alias an93l_{{ service }}='cd {{ staging_path }}/an93l_{{ service }}'

alias ek4_{{ service }}='cd {{ staging_path }}/ek4_{{ service }}'

alias c1ndy_{{ service }}='cd {{ staging_path }}/c1ndy_{{ service }}'

alias m4nd4_{{ service }}='cd {{ staging_path }}/m4nd4_{{ service }}'

alias alpha_{{ service }}='cd {{ staging_path }}/alpha_{{ service }}'

alias beta_{{ service }}='cd {{ staging_path }}/beta_{{ service }}'
