1. In Local Development, Copy .gitlab-ci.yml in IntelliJ editor

cp .gitlab-ci.yml




2. In .gitlab-ci.yml editor, search using regex, Change folder

find (regex) : /var/www/docker/([\w]*)_core
replace : /var/www/docker/$1_{{ service }}

find (regex) : ([\w]*)_core
replace : $1_{{ service }}




3. In Local Development,  Add files in ShellCommand
cd {{ project_path }}
for f in {{shellcommand_path}}/files/*; do ln -s "$f" "$(pwd)/${f##*/}"; done




4. In Local Development (Mac Only), Create Automator

cd {{ automator_path }}




cp -Rf li54/\[li54\]\ Garudaku.app li54/\[li54\]\ {{ automator_app_name }}

cp -Rf an93l/\[an93l\]\ Garudaku.app an93l/\[an93l\]\ {{ automator_app_name }}

cp -Rf ek4/\[ek4\]\ Garudaku.app ek4/\[ek4\]\ {{ automator_app_name }}

cp -Rf c1ndy/\[c1ndy\]\ Garudaku.app c1ndy/\[c1ndy\]\ {{ automator_app_name }}

cp -Rf m4nd4/\[m4nd4\]\ Garudaku.app m4nd4/\[m4nd4\]\ {{ automator_app_name }}

cp -Rf alpha/\[alpha\]\ Garudaku.app alpha/\[alpha\]\ {{ automator_app_name }}

cp -Rf beta/\[beta\]\ Garudaku.app beta/\[beta\]\ {{ automator_app_name }}

cp -Rf Production/\[SY\]\ Garudaku.app Production/\[SY\]\ {{ automator_app_name }}




5. In Automator Editor, Update Script

5.1 li54

on run {input, parameters}

tell application "iTerm"

set newWindow to (create window with default profile)

tell current session of newWindow

write text "cd {{ project_path }} && ~/update_garudaku_{{ service }}_li54.sh -a -z -k --yes"

end tell

end tell




return input

end run




5.2 an93l

on run {input, parameters}

tell application "iTerm"

set newWindow to (create window with default profile)

tell current session of newWindow

write text "cd {{ project_path }} && ~/update_garudaku_{{ service }}_an93l.sh -a -z -k --yes"

end tell

end tell




return input

end run




5.3 ek4

on run {input, parameters}

tell application "iTerm"

set newWindow to (create window with default profile)

tell current session of newWindow

write text "cd {{ project_path }} && ~/update_garudaku_{{ service }}_ek4.sh -a -z -k --yes"

end tell

end tell




return input

end run




5.4 c1ndy

on run {input, parameters}

tell application "iTerm"

set newWindow to (create window with default profile)

tell current session of newWindow

write text "cd {{ project_path }} && ~/update_garudaku_{{ service }}_c1ndy.sh -a -z -k --yes"

end tell

end tell




return input

end run




5.5 m4nd4

on run {input, parameters}

tell application "iTerm"

set newWindow to (create window with default profile)

tell current session of newWindow

write text "cd {{ project_path }} && ~/update_garudaku_{{ service }}_m4nd4.sh -a -z -k --yes"

end tell

end tell




return input

end run




5.6 alpha

on run {input, parameters}

tell application "iTerm"

set newWindow to (create window with default profile)

tell current session of newWindow

write text "cd {{ project_path }} && ~/update_garudaku_{{ service }}_alpha.sh -a -z -k --yes"

end tell

end tell




return input

end run




5.7 beta

on run {input, parameters}

tell application "iTerm"

set newWindow to (create window with default profile)

tell current session of newWindow

write text "cd {{ project_path }} && ~/update_garudaku_{{ service }}_beta.sh -a -z -k --yes"

end tell

end tell




return input

end run




6. In Gitlab Control Panel, Update Gitlab CICD, and COPY Variable from Garudaku Repository

{{ gitlab_url }}/-/settings/ci_cd




https://gitlab.com/yamisok/garudaku/-/settings/ci_cd




7. In Development Server, Register Gitlab Runner

docker exec -it gitlab-runner gitlab-runner register




https://gitlab.com/

GR1348941mDqXensTb3hC5bn7VthR

POS

[Enter]

[Enter]

docker

php:7.4-fpm




8. In Development Server, Copy config to All gitlab runner

sudo su

cp /var/lib/docker/volumes/gitlab-runner-config/_data/config.toml /var/lib/docker/volumes/gitlab-runner-config-2/_data/config.toml

cp /var/lib/docker/volumes/gitlab-runner-config/_data/config.toml /var/lib/docker/volumes/gitlab-runner-config-3/_data/config.toml

cp /var/lib/docker/volumes/gitlab-runner-config/_data/config.toml /var/lib/docker/volumes/gitlab-runner-config-4/_data/config.toml

cp /var/lib/docker/volumes/gitlab-runner-config/_data/config.toml /var/lib/docker/volumes/gitlab-runner-config-5/_data/config.toml




9. In Development Server, Verify gitlab runner

docker ps -aqf "name=^gitlab-runner" | while read line ; do docker exec -t $line gitlab-runner verify ; done