<div>
<div class="mb-4">
                            <label for="body" class="block text-gray-700 text-sm font-bold mb-2">{{ readable_field_name }}</label>
                            <textarea
                                            wire:key="{{ '{{ rand() }}'|e('html_attr') }}" x-data="{
                                                     value: @entangle('{{ field_name }}'),
                                                     instance: undefined,
                                                     updateObject: undefined,
                                                     updateInterval: 10000,
                                                     plugin(value) {
                                                        var that = this

                                                        if (editor == null) {
                                                            let editorElement = document.getElementById('{{ field_name }}');

                                                            // If we have an editor element
                                                            if(editorElement){
                                                                // pass options to ace.edit
                                                                editor = ace.edit(document.getElementById('{{ field_name }}'), {
                                                                                        mode: 'ace/mode/javascript',
                                                                                        theme: 'ace/theme/monokai',
                                                                                        maxLines: 50,
                                                                                        minLines: 10,
                                                                                        fontSize: 18
                                                                                        })
                                                                                        // use setOptions method to set several options at once
                                                                editor.setOptions({
                                                                    autoScrollEditorIntoView: true,
                                                                    copyWithEmptySelection: true
                                                                });
                                                                editor.on('change', function(e){
                                                                });
                                                            
                                                                window.clear = function(){
                                                                    editor.session.setValue('');
                                                                }
                                                            }
                                                        }
                                                     },
                                                     init() {
                                                         editor = null
                                                         {{ '$'|e('html_attr') }}watch('value', value => {
                                                            // Reinitialize
                                                            this.plugin(value)
                                                         });
                                                         // Initialize
                                                         this.plugin('')
                                                     }
                                                }" class="form-input w-full" rows="20" id="{{ field_name }}" placeholder="Enter {{ readable_field_name }}" wire:model.defer="{{ field_name }}"></textarea>
                             @error('{{ field_name }}') <span class="text-red-500">{{ '{{ $message }}'|e('html_attr') }}</span>@enderror
</div>

<h2>Catatan</h2>
                        <ol>
                            <li>Tambahkan code pada parent html tag <strong>{{ 'x-data="{editor:null}'|e('html_attr') }}</strong></li>
                            <li>Tambahkan code ini di function onclick saat save <strong>{{ "@this.set('"|e('html_attr') }}{{ field_name }}{{ "',editor.getValue());"|e('html_attr') }}</strong></li>
                        </ol>