II.	Create Page in ReactAdmin
1.	Tambah translation di src/i18n.jsx
	"{{ nama_menu }}": "{{ nama_menu }}",

2.	Tambah menu di src/Layout/Sidebar/Menu.jsx
export const MENUITEMS = [
  {
    menutitle: "General",
    menucontent: "Dashboards,Widgets",
    Items: [
      {
        title: "Dashboard",
        icon: Home,
        type: "sub",
        active: false,
        children: [
          {
            path: `{{ '$'|e('html_attr') }}{process.env.PUBLIC_URL}{{ path }}`,
            title: "{{ nama_menu }}",
            type: "link",
          },
		… 
  ],
},
…
    ],
  },
];

3.	Create Component di src/{{ component_path }}/index.jsx
import React from "react";
import {Col, Container, Row} from "reactstrap";

const {{ component_name }} = () => {
  return (
    {{ '<Container fluid={true} className="dashboard-default-sec">
      <Row>
        <Col xl="5" className="box-col-12 des-xl-100">
          <Row>
            <Col xl="12" md="6" className="box-col-6 des-xl-50">
              <ProfileGreeting />
            </Col>
          </Row>
        </Col>
        <Col xl="7" className="box-col-12 des-xl-100">
          <Row>
            <Col xl="12" md="6" className="box-col-6 des-xl-50">
              <WeeklyStats />
            </Col>
          </Row>
        </Col>
      </Row>
    </Container>'|e('html_attr') }}
    
  );
};

export default {{ component_name }};

4.	Tambah menu di src/Route/Routes.jsx
import {{ component_name }} from '{{ component_path }}';
…
export const routes = [
…
        { path: `{{ '$'|e('html_attr') }}{process.env.PUBLIC_URL}{{ path }}`, Component: {{ '<'|e('html_attr') }}{{ component_name }} {{ '/>'|e('html_attr') }} },
…
];
