                        <div class="mb-4">
                            <label for="{{ field_name }}"
                                   class="block text-gray-700 text-sm font-bold mb-2">{{ attribute_name }}</label>
                            <select class="form-select" id="{{ field_name }}"  placeholder="Choose One {{ attribute_name }}" wire:model.lazy="{{ field_name }}">
                                <option value="0">ROOT</option>
                                @foreach(${{ var_name }}_list as ${{ var_name }})
                                    <option value="{{ '{{$'|e('html_attr') }}{{ var_name }}->id{{ '}}'|e('html_attr') }}">{{ '{{$'|e('html_attr') }}{{ var_name }}->title{{ '}}'|e('html_attr') }}</option>
                                @endforeach
                            </select>
                            @error('{{ field_name }}') <span class="text-red-500">{{ '{{ $message }}'|e('html_attr') }}</span>@enderror
                        </div>
                        
                        <h2>Catatan</h2>
                        <ol>
                            <li>Tambahkan code ini di function onclick saat save <strong>{{ "@this.set('"|e('html_attr') }}{{ field_name }}{{"',document.getElementById('"|e('html_attr') }}{{ field_name }}{{"').value);"|e('html_attr') }}</strong></li>
                        </ol>