                        <div class="mb-4">
                            <label for="{{ field_name }}"
                                   class="block text-gray-700 text-sm font-bold mb-2">{{ single_variable }}</label>
                            <select class="form-select" id="{{ field_name }}" wire:model.lazy="{{ field_name }}" wire:change="changeDefinition">
                                <option value="0">-</option>
                                @foreach({{ '$'|e('html_attr') }}{{ list_variable }} as {{ '$'|e('html_attr') }}{{ single_variable }})
                                    <option value="{{ '{{'|e('html_attr') }}{{ single_variable }}->id{{ '}}'|e('html_attr') }}">{{ '{{'|e('html_attr') }}{{ '|e('html_attr') }}{{ single_variable }}->{{ title_field }}{{ '}}'|e('html_attr') }}</option>
                                @endforeach
                            </select>
                            @error('{{ field_name }}') <span class="text-red-500">{{ '{{ $message }}'|e('html_attr') }}</span>@enderror
                        </div>