<div>
<div class="mb-4">
                            <label for="body" class="block text-gray-700 text-sm font-bold mb-2">{{ readable_field_name }}</label>
                            <textarea class="form-input w-full hidden" id="{{ field_name }}_existing_value" wire:model.lazy="{{ field_name }}"></textarea>
                            <div id="{{ field_name }}_editor"  style="width: 100%; height: 400px;"></div>
                            <div
                                            wire:key="{{ '{{ rand() }}'|e('html_attr') }}" x-data="{
                                                     value: @entangle('{{ field_name }}'),
                                                     instance: undefined,
                                                     updateObject: undefined,
                                                     updateInterval: 10000,
                                                     plugin(value) {
                                                        var that = this

                                                        if (typeof this.instance == 'undefined') {
                                                            let editorElement = document.getElementById('{{ field_name }}');

                                                            // If we have an editor element
                                                            if(editorElement){
                                                                // pass options to ace.edit
                                                                const options = {}
                                                                this.instance = true
                                                                jsoneditor = new JSONEditor(document.getElementById('{{ field_name }}_editor'), options)

                                                                // set json
                                                                const value = document.getElementById('{{ field_name }}_existing_value').value
                                                                const initialJson = (value !== '') ? JSON.parse(value) : {attribute_name:'value'}
                                                                jsoneditor.set(initialJson)
                                                            
                                                                window.clear = function(){
                                                                    jsoneditor.session.setValue('');
                                                                }
                                                            }
                                                        }
                                                     },
                                                     init() {
                                                         {{ '$'|e('html_attr') }}watch('value', value => {
                                                            // Reinitialize
                                                            this.plugin(value)
                                                         });
                                                         // Initialize
                                                         this.plugin('')
                                                     }
                                                }" class="form-input w-full" rows="20" id="{{ field_name }}" placeholder="Enter {{ readable_field_name }}" wire:model.defer="{{ field_name }}"></textarea>
                             @error('{{ field_name }}') <span class="text-red-500">{{ '{{ $message }}'|e('html_attr') }}</span>@enderror
</div>
                        
                        <h2>Catatan</h2>
                        <ol>
                            <li>Tambahkan code pada parent html tag <strong>{{ 'x-data="{editor:null, jsoneditor:null}'|e('html_attr') }}</strong></li>
                            <li>Tambahkan code ini di function onclick saat save <strong>{{ "@this.set('"|e('html_attr') }}{{ field_name }}{{ "',JSON.stringify(jsoneditor.get()));"|e('html_attr') }}</strong></li>
                        </ol>