CREATE DATABASE {{ service }}_li54 CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
CREATE DATABASE {{ service }}_an93l CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
CREATE DATABASE {{ service }}_ek4 CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
CREATE DATABASE {{ service }}_c1ndy CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
CREATE DATABASE {{ service }}_m4nd4 CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
CREATE DATABASE {{ service }}_alpha CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
CREATE DATABASE {{ service }}_beta CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;