                                    <div class="mb-4">
                                        <label for="body"
                                               class="block text-gray-700 text-sm font-bold mb-2">{{ attribute_name }}</label>
                                        <textarea
                                            wire:key="{{ '{{ rand() }}'|e('html_attr') }}"
                                            x-data="{
                                                     value: @entangle('{{ field_name }}'),
                                                     instance: undefined,
                                                     updateObject: undefined,
                                                     updateInterval: 10000,
                                                     plugin(value) {
                                                        var that = this

                                                        if (typeof this.instance == 'undefined') {
                                                            if (tinymce.activeEditor{{ field_name }} != null) {
                                                                tinymce.activeEditor{{ field_name }}.destroy();
                                                            }
                                                            this.instance = window.tinymce.init({
                                                                selector: '#{{ field_name }}',
                                                                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                                                                toolbar: 'undo redo | bold italic underline strikethrough | numlist bullist indent outdent | blocks fontfamily fontsize | link image media table | align lineheight | emoticons charmap | removeformat',

                                                                setup: function (editor) {
                                                                    editor.on('init change', function () {
                                                                        editor.save();
                                                                    });
                                                                }
                                                            });
                                                        }
                                                     },
                                                     init() {
                                                         {{ '$'|e('html_attr') }}watch('value', value => {
                                                            // Reinitialize
                                                            this.plugin(value)
                                                         });
                                                         // Initialize
                                                         this.plugin('')
                                                     }
                                                }"
                                            class="form-input w-full" rows="20"
                                            id="{{ field_name }}" placeholder="Enter {{ attribute_name }}" wire:model.defer="{{ field_name }}"></textarea>
                                        @error('{{ field_name }}') <span class="text-red-500">{{ '{{ $message }}'|e('html_attr') }}</span>@enderror
                                    </div>
                                    
                        <h2>Catatan</h2>
                        <ol>
                            <li>Tambahkan code ini di function onclick saat save <strong>{{ "@this.set('"|e('html_attr') }}{{ field_name }}{{ "',document.getElementById('"|e('html_attr') }}{{ field_name }}{{ "').value);"|e('html_attr') }}</strong></li>
                        </ol>
                                    
