1. Update Staging
echo "{{dev_environment}}" >> /var/www/docker/li54_{{service}}/{{folder}}/.env
echo "{{dev_environment}}" >> /var/www/docker/an93l_{{service}}/{{folder}}/.env
echo "{{dev_environment}}" >> /var/www/docker/ek4_{{service}}/{{folder}}/.env
echo "{{dev_environment}}" >> /var/www/docker/c1ndy_{{service}}/{{folder}}/.env
echo "{{dev_environment}}" >> /var/www/docker/m4nd4_{{service}}/{{folder}}/.env
echo "{{dev_environment}}" >> /var/www/docker/alpha_{{service}}/{{folder}}/.env
echo "{{prod_environment}}" >> /var/www/docker/beta_{{service}}/{{folder}}/.env
echo "{{prod_environment}}" >> /var/www/docker/{{vueapp_builder_service}}/{{folder}}/.env

2. Update Master or Generator
echo "{{prod_environment}}" >> /var/www/docker/{{service_on_master}}/{{folder}}/.env

3. Update Worker
echo "{{prod_environment}}" >> /home/ubuntu/docker/{{service_on_worker}}/{{folder}}/.env