USE {{ service }}_li54;
source {{ service }}_{{ sql_file }};
USE {{ service }}_an93l;
source {{ service }}_{{ sql_file }};
USE {{ service }}_ek4;
source {{ service }}_{{ sql_file }};
USE {{ service }}_c1ndy;
source {{ service }}_{{ sql_file }};
USE {{ service }}_m4nd4;
source {{ service }}_{{ sql_file }};
USE {{ service }}_alpha;
source {{ service }}_{{ sql_file }};
USE {{ service }}_beta;
source {{ service }}_{{ sql_file }};