# {{ folder }}
mkdir -p /Users/subangkit/Projects/PBESI/pbesi/lumen/storage/app/public/{{ folder }}

sudo mkdir -p /var/www/docker/li54_core/lumen/storage/app/public/{{ folder }}
sudo mkdir -p /var/www/docker/an93l_core/lumen/storage/app/public/{{ folder }}
sudo mkdir -p /var/www/docker/ek4_core/lumen/storage/app/public/{{ folder }}
sudo mkdir -p /var/www/docker/c1ndy_core/lumen/storage/app/public/{{ folder }}
sudo mkdir -p /var/www/docker/m4nd4_core/lumen/storage/app/public/{{ folder }}
sudo mkdir -p /var/www/docker/alpha_core/lumen/storage/app/public/{{ folder }}
sudo mkdir -p /var/www/docker/beta_core/lumen/storage/app/public/{{ folder }}

sudo chmod 777 -Rf /var/www/docker/li54_core/lumen/storage/app/public/{{ folder }}
sudo chmod 777 -Rf /var/www/docker/an93l_core/lumen/storage/app/public/{{ folder }}
sudo chmod 777 -Rf /var/www/docker/ek4_core/lumen/storage/app/public/{{ folder }}
sudo chmod 777 -Rf /var/www/docker/c1ndy_core/lumen/storage/app/public/{{ folder }}
sudo chmod 777 -Rf /var/www/docker/m4nd4_core/lumen/storage/app/public/{{ folder }}
sudo chmod 777 -Rf /var/www/docker/alpha_core/lumen/storage/app/public/{{ folder }}
sudo chmod 777 -Rf /var/www/docker/beta_core/lumen/storage/app/public/{{ folder }}

sudo mkdir -p /var/www/docker/garudaku_production/lumen/storage/app/public/{{ folder }}
sudo chmod 777 -Rf /var/www/docker/garudaku_production/lumen/storage/app/public/{{ folder }}

sudo mkdir -p /home/ubuntu/docker/garudaku_production/lumen/storage/app/public/{{ folder }}
sudo chmod 777 -Rf /home/ubuntu/docker/garudaku_production/lumen/storage/app/public/{{ folder }}